absl-py==1.4.0
addict==2.4.0
appdirs==1.4.4
asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
-e git+ssh://git@github.com/xuboming8/DSTNet.git@4bc53f91e346a1fb99bef0079d8e698f4569a40a#egg=basicsr
cachetools==4.2.4
certifi
charset-normalizer==3.1.0
cityscapesScripts==2.2.1
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.0.7
coverage==7.2.1
cupy-cuda113==10.6.0
cycler==0.11.0
decorator==5.1.1
docker-pycreds==0.4.0
einops==0.6.1
exceptiongroup==1.1.1
executing==1.2.0
fastrlock==0.8.2
filelock==3.16.1
flake8==6.0.0
fonttools==4.39.2
fsspec==2024.9.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.54.0
humanfriendly==10.0
idna==3.4
imageio==2.28.0
imgaug==0.4.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
iniconfig==2.0.0
interrogate==1.5.0
ipython==8.11.0
jedi==0.18.2
Jinja2==3.1.4
kiwisolver==1.4.4
kornia==0.6.12
lazy_loader==0.2
lmdb==1.5.1
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mmcls==0.25.0
mmcv==2.2.0
mmengine==0.10.5
natsort
nvitop==1.3.2
opencv-python==4.7.0.72
pandas==1.5.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.0.0
platformdirs==4.3.6
pluggy==1.0.0
prettytable==3.6.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==6.0.0
ptflops==0.7.4
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.8.1
rsa==4.9
scikit-image==0.20.0
scipy==1.9.1
sentry-sdk==2.14.0
setproctitle==1.3.3
shapely==2.0.1
six
smmap==5.0.1
stack-data==0.6.2
sympy==1.13.3
tensorboard
tensorboard-data-server
tensorboard-plugin-wit==1.8.1
tensorboardX
termcolor==2.4.0
thop==0.1.1.post2209072238
tifffile==2023.4.12
timm==0.3.2
toml==0.10.2
tomli==2.0.1
tqdm 
traitlets==5.9.0
triton==3.0.0
typing==3.7.4.3
typing_extensions==4.12.2
urllib3==1.26.15
wandb==0.18.2
wcwidth==0.2.6
Werkzeug==2.3.3
xdoctest==1.1.1
yapf==0.32.0
zipp==3.15.0